@page
@model ECommerceProject.Pages.Admin.SubCat.CreateModel

@{
    ViewData["Title"] = "Create";
}
<h1>Create Sub-Category</h1>

<div class="container card-body col-lg-12">
    <div class="breadcrumbs page-title" style="display:none; margin-top:auto -10px;">
        <div class="col-sm-5" style="text-align:center;">
            <div class="page-header float-left">
                <div class="page-title">
                    <h3 style="color:red;">Create Sub-Category</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="page-header float-right">
                @*<div class="page-title">*@
                <ol class="breadcrumb text-right">
                    <li><a href="/Admin/SubCat/Index">Sub-Category</a></li>
                    <li class="active">Create Sub-Category</li>
                </ol>
                @*</div>*@
            </div>
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="alert alert-dismissible alert-success">
            @Model.Message
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <div class="alert alert-dismissible alert-danger">
            @Model.Error
        </div>
    }
    <hr />
    <div class="card" style="margin-left:10%">
        <div class="card-body card-block">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SubCategory.MainCategoryId" class="control-label"></label>
                            <select asp-for="SubCategory.MainCategoryId" class="form-control"
                                    asp-items="ViewBag.MainCategoryId">
                                <option selected="selected" value="-1">--Select Main Category--</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SubCategory.Name" class="control-label"></label>
                            <input asp-for="SubCategory.Name" class="form-control" />
                            <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="SubCategory.BannerImage" class="control-label"></label>
                            <input asp-for="BannerImage" class="form-control" />
                            <span asp-validation-for="SubCategory.BannerImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-left:25%">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-page="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
