@page
@model ECommerceProject.Pages.Admin.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="card" style="margin-left:15%">
    <div class="card-body card-block">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Product.SubCategoryId" class="control-label"></label>
                        <select asp-for="Product.SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId">
                            <option selected="selected" value="-1">--Select Sub Category--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Product.Name" class="control-label"></label>
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Product.Description" class="control-label"></label>
                        <input asp-for="Product.Description" class="form-control" />
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Product.Price" class="control-label"></label>
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Product.OldPrice" class="control-label"></label>
                        <input asp-for="Product.OldPrice" class="form-control" />
                        <span asp-validation-for="Product.OldPrice" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div id="imagesList" class="form-group">
                        <label>Image</label>
                        @*<input asp-for="Product_Image[0]" />*@
                        <input  type="file" multiple name="Product_Image" accept="image/*"/>
                        
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                <button id="btnAddimage" class="btn btn-warning">New Image</button>
            </div>*@

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="submit" value="Create Sub-Category" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <a class="btn btn-primary" asp-page="Index">Back to List of Sub-Category</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    // adds new product images control

    $('#btnAddimage').on('click', function (event) {
        event.preventDefault;
        var currentIndex = $('#imagelastindex').val();
        var newIndex = Number(currentIndex) + 1;

        // adds the new generated html
        newImageControl(newIndex);
        // sets the hidden field to the new index
        $('#imagelastindex').val(newIndex);
        return false;
    });
    function newImageControl(index) {
        var html = `<input class="form-control" type="file" 
                    id="Product_Image_${index}_" 
                    name="Product_Image[${index}]">`
        $('#imagesList').append(html);
    }
</script>   
 

}
